/* app css stylesheet */

body {
    padding-top: 50px;
}

.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.css-form input.ng-invalid.ng-dirty {
    background-color: #f8bebe;
}

/*.css-form input.ng-valid.ng-dirty {
    background-color: #78FA89;
}*/
