/* app css stylesheet */

body {
    padding-top: 50px;
}

.main-view {
    height: 500px;
}

div.ng-invalid.ng-dirty input{
    background-color: #f8dbe4 !important;
}

div.ng-valid.ng-dirty input {
    background-color: #dffae1;
}

/* ui bootstrap fix */

.modal {
    display: block;
}
.modal-body:before,
.modal-body:after {
    display: table;
    content: " ";
}
.modal-header:before,
.modal-header:after {
    display: table;
    content: " ";
}