<ng-form name="passwordForm" class="form-horizontal css-form" novalidate>

    <div class="modal-body">

        <div ui-form-field="password"
             label-text="Password"
             format-data="{'offset' : '3', 'size' : '9'}"
             validation-data="{'required' : 'Required field.', 'minLength' : 'Password to short.'}">

            <div ui-password-input show-input="showPasswords" name="password" ng-model="password.Text"
                 ng-disabled="disableInputs" min-length="4" required></div>
        </div>

        <div ui-form-field="confirmation"
             label-text="Confirmation"
             format-data="{'offset' : '3', 'size' : '9'}"
             validation-data="{'required' : 'Required field.', 'equals' : 'Passwords not equals.'}">

            <div ui-password-input show-input="showPasswords" name="confirmation"
                 ng-model="confirmation.Text" ng-disabled="disableInputs"
                 equals="{{password.Text}}" required></div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button type="button" class="btn btn-link"
                        ng-click="generatePassword()" ng-disabled="disableInputs">Generate</button>
            </div>
        </div>

    </div>

</ng-form>