<div class=".col-md-4 .col-md-offset-4" xmlns="http://www.w3.org/1999/html">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Reset password</h4>
            </div>

            <form name="form" class="form-horizontal css-form" novalidate>
                <div class="modal-body">

                    <div field-trans-wrapper="form.passwordText"
                         label-text="Password"
                         label-columns="3"
                         field-columns="9"
                         validators="{'required' : 'Required field.', 'minLength' : 'Password to short.'}">

                        <password show-input="showPasswords" name="passwordText" ng-model="password.text"
                                  min-length="4" required readonly ng-disabled="disableInputs"/>

                    </div>

                    <div field-wrapper="form.passwordConfirmation"
                         label-text="Confirmation"
                         label-columns="3"
                         field-columns="9"
                         validators="{'required' : 'Required field.', 'equals' : 'Passwords not equals.'}">

                        <password show-input="showPasswords" name="passwordConfirmation"
                                  ng-model="password.confirmation" equals="{{password.text}}"
                                  required ng-disabled="disableInputs"/>

                    </div>

                    <div class="form-group">

                        <div class="col-sm-offset-3 col-sm-9">
                            <a href="#" ng-click="generatePassword($event)" ng-disabled="disableInputs">Generate</a>
                        </div>

                    </div>

                </div>
                <div class="modal-footer">

                    <button class="btn btn-primary" ng-click="saveChanges()"
                            ng-disabled="form.$invalid || disableInputs || form.$pristine" >Save changes</button>
                    <a ng-href="#" class="btn btn-default" data-dismiss="modal">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>