<div class=".col-md-4 .col-md-offset-4">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button-->
                <h4 class="modal-title">Reset password</h4>
            </div>
            <!--TODO: change css-form-->
            <form name="form" class="form-horizontal css-form" novalidate>
                <div class="modal-body">

                    <div ng-show="form.passwordText.$dirty && form.passwordText.$invalid">
                        <div class="col-sm-offset-3 col-sm-9">
                            <span ng-show="form.passwordText.$error.required">Required field.</span>
                            <!--span ng-show="form.inputPassword.$error.email">This is not a valid password.</span-->
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" >Password</label>
                        <div class="col-sm-9" >
                            <password show-input="isPasswordsShown" name="passwordText" ng-model="password.text" required/>
                            <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Confirmation</label>

                        <div class="col-sm-9">
                            <!--password show-input="isPasswordsShown" name="passwordConfirmation" ng-model="password.confirmation" required/-->
                            <input type="text" name="passwordConfirmation" ng-model="password.confirmation" required/>
                            <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                        </div>
                    </div>
                    <div class="form-group" ng-show="form.passwordText.$dirty && form.passwordText.$invalid">
                        <div class="col-sm-offset-3 col-sm-9">
                            <span ng-show="form.passwordText.$error.required">Required field.</span>
                            <!--span ng-show="form.inputPassword.$error.email">This is not a valid password.</span-->
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <a href="#" >Generate</a>
                        </div>
                    </div>
                    {{password.text}}
                </div>
                <div class="modal-footer">

                    <button class="btn btn-primary" ng-click="saveChanges()" ng-disabled="form.$invalid">Save changes</button>
                    <button class="btn btn-default" data-dismiss="modal">Back</button>
                </div>
            </form>
        </div>
    </div>
</div>