<div class=".col-md-4 .col-md-offset-4" xmlns="http://www.w3.org/1999/html">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <!--button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button-->
                <h4 class="modal-title">Reset password</h4>
            </div>
            <!--TODO: change css-form-->
            <form name="form" class="form-horizontal css-form" novalidate>
                <div class="modal-body">

                    <div class="form-group">
                        <label class="col-sm-3 control-label" >Password</label>
                        <div class="col-sm-9" >
                            <password show-input="isPasswordsShown" name="passwordText" ng-model="password.text" min-length="4" required/>
                        </div>
                        <div class="col-sm-offset-3 col-sm-9" ng-show="form.passwordText.$dirty && form.passwordText.$invalid">
                            <span ng-show="form.passwordText.$error.required">Required field.</span>
                            <span ng-show="!form.passwordText.$error.required && form.passwordText.$error.minLength">Password to short.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-3 control-label">Confirmation</label>
                        <div class="col-sm-9">
                            <password show-input="isPasswordsShown" name="passwordConfirmation" ng-model="password.confirmation" equals="{{password.text}}" required/>
                        </div>
                        <div class="col-sm-offset-3 col-sm-9" ng-show="form.passwordConfirmation.$dirty && form.passwordConfirmation.$invalid">
                            <span ng-show="form.passwordConfirmation.$error.required">Required field.</span>
                            <span ng-show="!form.passwordConfirmation.$error.required && form.passwordConfirmation.$error.equals">Passwords not equals.</span>
                            <!--span ng-show="form.passwordConfirmation.$error.minLength">Password to short.</span-->
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-offset-3 col-sm-9">
                            <a href="#" ng-click="generatePassword($event)">Generate</a>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                    <button class="btn btn-primary" ng-click="saveChanges()" ng-disabled="form.$invalid">Save changes</button>
                    <button class="btn btn-default" data-dismiss="modal">Back</button>
                </div>
            </form>
        </div>
    </div>
</div>