<div class="input-group">
    <input type="text" class="form-control" ng-if="toggle" ng-model="data.innerInputModel" ng-disabled="disableInputs">
    <input type="password" class="form-control" ng-if="!toggle" ng-model="data.innerInputModel" ng-disabled="disableInputs">
    <span class="input-group-btn">
        <button class="btn btn-default" ng-click="toggleInput()" ng-disabled="disableInputs">
            <span class="glyphicon" ng-class="{'glyphicon-eye-close': toggle, 'glyphicon-eye-open': !toggle}"></span>
        </button>
    </span>
</div>
